<div class="container">
  <div class="card" style="width: 36rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 id='product-name' class="card-title"><b>Product Name:</b>{{productName}}</h5>
      <p id='product-description' class="card-text"><b>Product Description:</b>{{productDescription}}</p>
      <p id='product-price' class="card-text"><b>Product Price:</b>{{prodcutPrice}}</p>
      <a href="#" class="btn btn-primary">Back To Insert Page</a>
    </div>



  </div>

</div>
